<launch>
    <arg name="web_port" default="8000"/> 
    <node pkg="smart_eef_control" type="run_server.sh" name="web_server" output="screen" cwd="node" args="$(arg web_port)"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9097"/>
    </include>
</launch>